Hello world/obj/Hello world.csproj.nuget.dgspec.json
Hello world/obj/Hello world.csproj.nuget.g.props
Hello world/obj/Hello world.csproj.nuget.g.targets
Hello world/obj/project.assets.json
Hello world/obj/project.nuget.cache
Hello world/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Hello world/obj/Debug/net8.0/apphost.exe
Hello world/obj/Debug/net8.0/Hello world.AssemblyInfo.cs
Hello world/obj/Debug/net8.0/Hello world.AssemblyInfoInputs.cache
Hello world/obj/Debug/net8.0/Hello world.assets.cache
Hello world/obj/Debug/net8.0/Hello world.csproj.CoreCompileInputs.cache
Hello world/obj/Debug/net8.0/Hello world.csproj.FileListAbsolute.txt
Hello world/obj/Debug/net8.0/Hello world.dll
Hello world/obj/Debug/net8.0/Hello world.GeneratedMSBuildEditorConfig.editorconfig
Hello world/obj/Debug/net8.0/Hello world.genruntimeconfig.cache
Hello world/obj/Debug/net8.0/Hello world.GlobalUsings.g.cs
Hello world/obj/Debug/net8.0/Hello world.pdb
Hello world/obj/Debug/net8.0/ref/Hello world.dll
Hello world/obj/Debug/net8.0/refint/Hello world.dll
Hello world/bin/Debug/net8.0/Hello world.deps.json
Hello world/bin/Debug/net8.0/Hello world.dll
Hello world/bin/Debug/net8.0/Hello world.exe
Hello world/bin/Debug/net8.0/Hello world.pdb
Hello world/bin/Debug/net8.0/Hello world.runtimeconfig.json
.vscode/settings.json
